#Inventory Tweaks Configuration
#(Regarding shortcuts, all key names can be found at: http://www.lwjgl.org/javadoc/org/lwjgl/input/Keyboard.html)
#Wed Apr 02 02:58:47 EDT 2025
enableAutoRefillSound=true
enableMiddleClick=true
enableShortcuts=true
enableSortingOnPickup=true
enableSortingSound=true
shortcutKeyAllItems=LSHIFT, RSHIFT
shortcutKeyDrop=LALT, RALT
shortcutKeyOneItem=LCONTROL, RCONTROL
shortcutKeyOneStack=DEFAULT
shortcutKeyToLowerSection=DOWN
shortcutKeyToUpperSection=UP
showChestButtons=true
